:root {
    --colorMain: blueviolet;
    --colorAccent: crimson;
    --colorAccent2: darkcyan;
    --colorAccent3: white;
  }
* {
    margin: 0;
    padding: 0;
    font-family: 'geometria';

    /* border: 1px solid red; */
    color: var(--colorAccent3);
}
body {
background-color: var(--colorMain);


}

.top-bar {
    background:linear-gradient(to right, var(--colorMain), var(--colorAccent));
    margin: 0;
    padding: 15px;
    border-bottom: solid var(--colorAccent3) 2px;
}
.top-bar > h1 {
    text-align: center;
    color: var(--colorAccent3);
}

.btn-container{
    display: flex;
    justify-content: space-around;
}
input, button {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 75px;

    border: none;
    border-bottom: var(--colorAccent3) 2px solid;
    background-color: blueviolet;
    color: var(--colorAccent3);
    font-size: 2rem;
    
    cursor: pointer;
    transition: 0.4s;

}
button:hover{
    background-color: var(--colorAccent2);
}

p {
    font-size: 3rem;
    margin: 15px;
}

.winner {
    font-size: 3rem;
    text-align: center;
    color: var(--colorAccent3);
    text-shadow: 2px 2px var(--colorAccent);
    
    
}



#round-result, .pc-choise {
    text-align: center;
    font-size: 3rem;
    margin: 15px;
}


.bottom{
    background-color:rgba(56, 56, 56, 0.377);
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height:3rem;
    text-align: center;
    font-size: 20px;
}

a{
    text-decoration: none;
}
.green {
    color: hsl(120, 51%, 50%);
    text-shadow: 3px 3px hsl(120, 51%, 40%)
}

.red {
    color:hsl(348, 83%, 50%);
    text-shadow: 3px 3px hsl(348, 83%, 40%)
}

.yellow {
    color: hsl(51, 88%, 50%);
    text-shadow: 3px 3px hsl(51, 88%, 40%);
}